{* forum list *}
{* 页首 *}
{include file="public_header.html"}
<body id="vanilla_discussions_index" class="Vanilla Discussions index">
<div id="Frame">
    <div class="Banner">
		<ul>
		  <li><a href="{tplEchoUrl mainName='MainForum.php' cmd='forumList'}" class="">Forum List</a></li>
		  
		  
		  
		  
		  		</ul>
	 </div>
	 <div id="Body">
		<div id="Content">
		  <ul class="DataList Discussions">
<li class="Item">
      <div class="ItemContent Discussion">
        {foreach from=$objsMnEtForum item=oMnEtForum}
        <div><a href="{tplEchoUrl mainName='MainTopic.php' cmd='threadList' vName='fid' vValue=$oMnEtForum->forumId->oriValue}">{$oMnEtForum->forumName->oriValue|escape:"html"}</a></div>
            {foreach from=$oMnEtForum->objsSubMnEtForum item=oSubMnEtForum}
            <div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{tplEchoUrl mainName='MainTopic.php' cmd='threadList' vName='fid' vValue=$oSubMnEtForum->forumId->oriValue}">{$oSubMnEtForum->forumName->oriValue|escape:"html"}</a></div>
            {/foreach}
        {/foreach}
   </div>
</li>
</ul>

		</div>
	 </div>
	 <div id="Foot">
		<div class="FootMenu">
        <span><a href="{$tapatalkPluginApiConfig.nativeSitePcModeUrl}" class="">Full Site</a></span>
		</div>
		<div>
		  <a href="http://tapatalk.com/"><span>Powered by Tapatalk</span></a>
		</div>
	 </div>
  </div>


</body>
{* 页尾 *}
{include file="public_footer.html"}