{* forum list *}
{* 页首 *}
{include file="public_header.html"}
<script language="javascript">
{literal}
{/literal}
</script>
<body id="vanilla_discussions_index" class="Vanilla Discussions index">
<div id="Frame">
    <div class="Banner">
		<ul>
		  <li><a href="http://192.168.0.101/vanilla_2-0-18-8/discussions" class="">Discussions</a></li>
		  
		  
		  
		  
		  			 <li class="SignInItem"><a href="http://192.168.0.101/vanilla_2-0-18-8/entry/signin" class="SignIn">Sign In</a></li>
		  		</ul>
	 </div>
	 <div id="Body">
		<div id="Content">
		  <ul class="DataList Discussions">
<li class="Item">
      <div class="ItemContent Discussion">
        <div><a href="#">forum 1</a></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">forum 2</a></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">forum 3</a></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">forum 4</a></div>
        <div><a href="#">forum 5</a></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">forum 6</a></div>
        <div><a href="#">forum 7</a></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">forum 8</a></div>
   </div>
</li>
</ul>

		</div>
	 </div>
	 <div id="Foot">
		<div class="FootMenu">
        <span><a href="#">Full Site</a></span>
		</div>
		<div>
		  <a href="http://tapatalk.com/"><span>Powered by Tapatalk</span></a>
		</div>
	 </div>
  </div>


</body>
{* 页尾 *}
{include file="public_footer.html"}