{* thread list *}
{* 页首 *}
{include file="public_header.html"}
<body id="vanilla_discussions_index" class="Vanilla Discussions index">
<div id="Frame">
    <div class="Banner">
		<ul>
		  <li><a href="{tplEchoUrl mainName='MainForum.php' cmd='forumList'}" class="">All Forums</a></li>
		  
		  
		  
		  		</ul>
	 </div>
	 <div id="Body">
		<div id="Content">
		  <ul class="DataList Discussions">
		    {foreach from=$data.topics item=oMnEtForumTopic}
<li class="Item">
      {if $oMnEtForumTopic->oAuthorMnEtUser->iconUrl->hasSetOriValue()}
      <a title="{$oMnEtForumTopic->oAuthorMnEtUser->getDisplayName()}" href="#" class="ProfileLink"><img src="{$oMnEtForumTopic->oAuthorMnEtUser->iconUrl->oriValue}" alt="{$oMnEtForumTopic->oAuthorMnEtUser->getDisplayName()}" class="ProfilePhotoMedium" /></a>
      {/if}
      <div class="ItemContent Discussion">
      <a href="{tplEchoUrl mainName='MainTopic.php' cmd='getThread' vName='tid' vValue=$oMnEtForumTopic->topicId->oriValue}" class="Title">{$oMnEtForumTopic->topicTitle->oriValue|escape:html}</a>            <div class="Meta">
        {if $oMnEtForumTopic->oAuthorMnEtUser}
         <span class="Author">{$oMnEtForumTopic->oAuthorMnEtUser->userName->oriValue|escape:html}</span>
        {/if} 
         <span class="Counts">{$oMnEtForumTopic->totalPostNum->oriValue}</span><span class="LastCommentDate">{$oMnEtForumTopic->postTime->oriValue|date_format}</span>
      </div>
   </div>
</li>
		    {/foreach}
</ul>
		</div>
{$data.oMnDataPage->echoPage()}
	 </div>
	 <div id="Foot">
		<div class="FootMenu">
        <span><a href="{$tapatalkPluginApiConfig.nativeSitePcModeUrl}" class="">Full Site</a></span>
		</div>
		<div>
		  <a href="http://tapatalk.com/"><span>Powered by Tapatalk</span></a>
		</div>
	 </div>
  </div>


</body>
{* 页尾 *}
{include file="public_footer.html"}